/* DISEÑO DE TEMPLATE */

#divGeneral{
    width: 980px;
    margin: auto;
    text-align: left;
}

#cabecera{
    background: grey;
    padding: 5px 15px;
    color: aqua;
}

#menu{
    background: orangered;
    padding: 5px 15px;

}

#menu li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px sans-serif;
}

#SeccionPrincipal{
    float: center;
    width: 650px;
    margin: 20px;
}

#sidebar{
    width: 220px;
    margin: 20px;
    padding: 20px;
    background: orange;
}

#footer{
    clear: both;
    text-align: center;
    padding: 20px;
    border-top: 2px solid silver;
}

