/*Referencia por palabra clave del elemento*/

p {
    font-weight: bold;
    font-size: 20px;
}

/*Referencia por el atributo ID*/

.labelRojo{
    font-size: 14px;
    color: red;
}

#labelAzul{
    color: blue;
}

#labelVerde{
    color: green;
}

#labelAmarillo{
    color: yellow;
}

p[name="Primerp"]{
    font-size: 5px;
}

p[name="Segundop"]{
    font-size: 5px;
}

p[name="Tercerp"]{
    font-size: 5px;
}


/*Referencia por el atributo CLASS*/

p[name$="parr"]{
    color: grey;
}

p[name*="gua"]{
    color: orangered;
}

/* Pseudo Clases */

p:nth-child(1){
    background: blue;
}

.mitexto:nth-child(2){
    background: greenyellow;
}

.mitexto:nth-child(3){
    background: blueviolet;
}

.mitexto:nth-child(4){
    background: aqua;
}

/*NUEVOS SELECTORES*/

div > p.mitexto{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}