
#header img {
   object-fit: auto;
   max-width: 200px;
 }
 
 #main .carousel-inner img {
   max-height: 70vh;
   object-fit: cover;
   filter: grayscale(70%);
 }

 #main h1{
   font-family: 'BankGothic-Regular', cursive;
 }
 
 #carousel {
   position: relative;
 }
 
 #carousel .overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
 }
 
 #carousel .overlay .container,
 #carousel .overlay .row {
   height: 100%;
 }
 
 #place-time {
   background-color: #343a40;
   color: white;
 }
 
 #place-time img {
   max-width: 100%;
 }
 
 #footer {
   background: linear-gradient(90deg,#1c3643,#273b47 25%,#1e5372);
 }
 
 #footer h6 {
   color: greenyellow;
 }

 #contenido b {
   text-align: center;
   color:#191970;
   background:#F0FFFF;
   align-content: center;
 }

 #columna-final .button {
    text-align: right;
    border-radius: 25%;
    box-shadow: 0px, 6px, 0px, gray;
 }

 #Headeraside {
   background: gray;
 }

 #Headeraside h5,h6{
   color: white;
 }

